<h1>Editing publicacion</h1>

<%= render "form", publicacion: @publicacion, etiqueta: @etiqueta %>

<br>

<div>
  <%= link_to "Show this publicacion", @publicacion %> |
  <%= link_to "Back to publicacions", publicacions_path %>
</div>
